<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add User</title>
</head>
<body>
<form method="post" th:action="@{/admin/add}" th:object="${user}">
  <label for="username">Username: </label>
  <input type="text" th:field="*{username}" id="username">

  <br>

  <label for="password">Password: </label>
  <input type="text" th:field="*{password}" id="password">

  <br>

  <h1>Выберите роли для пользователя</h1>
  <ul>
    <li th:each="role : ${availableRoles}">
      <input type="checkbox" th:field="*{roles}" th:value="${role.id}"/>
      <label th:text="${role}"></label>
    </li>
  </ul>


  <br>

  <input type="submit" value="Add User">
</form>
</body>
</html>